/* frontend/style.css */

@import url("css/base.css");
@import url("css/header.css");
@import url("css/grid.css");

/* Importações do card modularizado */
@import url("css/card/card-base.css");
@import url("css/card/card-accordion.css");
@import url("css/card/card-responsive.css");

/* Importação dos dados */
@import url("css/dice-roller.css");